<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" aria-expanded="true" onclick="$('#login_gestor').modal()">
   <a>Gestores de outros orgãos, do complexo da SEED e Anexos, cliquem aqui.</a>
  </button>
</div>
