<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
   Gestão
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
    <li role="presentation"><%= link_to('Relatório quantitativo de professores por disciplina', administracao_relatorio_quantitativo_professor_path(:format=>:xlsx)) %></li>
     <li role="presentation"><%= link_to('Relatório quantitativo de funcionários não docentes por cargo', administracao_relatorio_quantitativo_nao_docente_path(:format=>:xlsx)) %></li>
      <li role="presentation"><%= link_to 'Listagem de funcionarios', administracao_listagem_funcionarios_path %></li>
  </ul>
</div>

